<h1><%= @task.name %></h1>
<p>description : <%= @task.description %></p>
<p>Created : <%= @task.created_at %></p>
<p><%= link_to 'Home', tasks_path %></p>




<!-- Should display the task's details (content, date of creation, etc.) and a back-link to the index page. -->
